[submodule "lib/littlefs"]
	path = lib/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
[submodule "lib/mquickjs"]
	path = lib/mquickjs
	url = https://github.com/bellard/mquickjs.git
[submodule "lib/levelx"]
	path = lib/levelx
	url = https://github.com/eclipse-threadx/levelx.git
[submodule "lib/filex"]
	path = lib/filex
	url = https://github.com/eclipse-threadx/filex.git
